<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }   
    .main {
        background-color:  #f0f0f0;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        margin: 15px;
        width: 80%;
    }
    .header {
        text-align: center;
        margin: 10px;
    }
    .header > .app-name {
        opacity: 0.5;
        font-style: italic;
        text-transform: uppercase;
        letter-spacing: 15px;
        margin: 5px;
        text-shadow: 2px 2px #e8e8e8;
    }
    .header > .head-title {
        text-transform: uppercase;
        color: #040335;
        font: 18px 'Helvetica Neue', Helvetica;
    }
    .body {
        width: 80%;
        display: flex;
        align-items: center;
    }
    form {
        transform: translateX(12%);
        text-align: center;
        margin: 10px auto 25px auto;
    }
    .input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .submit {
        width: 100%;
        background-color: #06109c;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .submit:hover{
        background-color: #010fcc;
    }
    hr {
        height: 2px;
        color: #808080;
    }
    .response {
        text-align: center;
        font: 14px 'Helvetica Neue', Helvetica;
    }
    .footer {
        margin: 10px;
    }
    </style>
    <title>Slaptažodžio atstatymas</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<body class="main">
    <div class="container">
        <div class="header">
            <h2 class="app-name">Orutis</h2>
            <h3 class="head-title">
                Slaptažodžio atstatymas
            </h3>
        </div>
        <hr>
        <div class="body">
            <form id="passwordForm" action="" method="post">
                <input class="input" type="password" name="password" id="password" placeholder="Įveskite naują slaptažodį" required>
                <input class="input" type="password" name="cpassword" id="cpassword" placeholder="Pakartokite naują slaptažodį" required>
                <input type="hidden" name="link" value="<%= link %>">
                <input class="submit" type="submit" value="Keisti slaptažodį">
            </form>
        </div>
        <hr>
        <div class="footer">
            <div id="response" class="response"></div>
        </div>
    </div>   
    
    <script type="text/javascript">
        $(function () {
            $.fn.serializeObject = function()
            {
                var o = {};
                var a = this.serializeArray();
                $.each(a, function() {
                    if (o[this.name] !== undefined) {
                        if (!o[this.name].push) {
                            o[this.name] = [o[this.name]];
                        }
                        o[this.name].push(this.value || '');
                    } else {
                        o[this.name] = this.value || '';
                    }
                });
                return o;
            };          
            
            $("#passwordForm").bind("submit", function(evt) {
                // console.log(JSON.stringify($("#passwordForm").serializeObject()));

                $.ajax({
                    url: "/resetPassword",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify($("#passwordForm").serializeObject()),
                    success: function (data, textStatus, jqXHR) {
                        $('#response').html("Slaptažodis pakeistas! Galite uždaryti šį langą.");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#response').html(`Serverio klaida! Slaptažodžio pakeisti nepavyko! (${errorThrown})`);
                    }
                });

                return false;
            });

        });
    </script>
</body>
</html>